In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('./Datasets/dataset.csv')

In [38]:
df = df.loc[df['Victim_AGE'].isin(['25-44', '18-24', '45-64', '<18', '65+'])]

In [39]:
df = df.loc[~df['Victim_RACE'].isin(['OTHER'])]

In [40]:
df.to_csv('./Datasets/dataset.csv',index=False, header=['Timestamp','Latitude','Longitude','Victim_AGE','Victim_RACE','Victim_Sex', 'Category'])

In [41]:
y, labels = pd.factorize(['a', 'b', 'c'])

In [42]:
y

array([0, 1, 2])

In [44]:
labels[0]

'a'

In [47]:
dict_test = dict(zip(y, labels))

In [48]:
dict_test

{0: 'a', 1: 'b', 2: 'c'}

In [49]:
df.head()

,Timestamp,Latitude,Longitude,Victim_AGE,Victim_RACE,Victim_Sex,Category
0,12/25 23:00:00,40.772875,-73.989542,45-64,BLACK,M,MISDEMEANOR
1,12/15 04:15:00,40.807781,-73.945485,25-44,WHITE,F,VIOLATION
2,12/05 22:00:00,40.828851,-73.943834,25-44,WHITE,F,MISDEMEANOR
3,12/10 15:30:00,40.816509,-73.946547,<18,BLACK,F,MISDEMEANOR
4,12/08 23:20:00,40.789633,-73.940068,25-44,WHITE,M,VIOLATION

In [65]:
dic = {}

In [66]:
y_age, labels_age = pd.factorize(df['Victim_AGE'])
dict_age = dict(zip(range(len(labels_age)), labels_age))
dic['age'] = dict_age

In [68]:
y_race, labels_race = pd.factorize(df['Victim_RACE'])
dict_race = dict(zip(range(len(labels_race)), labels_race))
dic['race'] = dict_race

In [69]:
y_sex, labels_sex = pd.factorize(df['Victim_Sex'])
dict_sex = dict(zip(range(len(labels_sex)), labels_sex))
dic['sex'] = dict_sex

In [70]:
y_cat, labels_cat = pd.factorize(df['Category'])
dict_cat = dict(zip(range(len(labels_cat)), labels_cat))
dic['category'] = dict_cat

In [72]:
dic

{'age': {0: '45-64', 1: '25-44', 2: '<18', 3: '18-24', 4: '65+'},
 'race': {0: 'BLACK',
  1: 'WHITE',
  2: 'WHITE HISPANIC',
  3: 'BLACK HISPANIC',
  4: 'ASIAN / PACIFIC ISLANDER',
  5: 'AMERICAN INDIAN/ALASKAN NATIVE'},
 'sex': {0: 'M', 1: 'F'},
 'category': {0: 'MISDEMEANOR', 1: 'VIOLATION', 2: 'FELONY'}}

In [73]:
import json
with open("labels.json", "w") as f:
    json.dump(dic, f)

In [74]:
df

,Timestamp,Latitude,Longitude,Victim_AGE,Victim_RACE,Victim_Sex,Category
0,12/25 23:00:00,40.772875,-73.989542,45-64,BLACK,M,MISDEMEANOR
1,12/15 04:15:00,40.807781,-73.945485,25-44,WHITE,F,VIOLATION
2,12/05 22:00:00,40.828851,-73.943834,25-44,WHITE,F,MISDEMEANOR
3,12/10 15:30:00,40.816509,-73.946547,<18,BLACK,F,MISDEMEANOR
4,12/08 23:20:00,40.789633,-73.940068,25-44,WHITE,M,VIOLATION
...,...,...,...,...,...,...,...
1085618,07/17 17:55:00,40.718900,-74.002317,25-44,BLACK,F,FELONY
1085619,09/29 03:00:00,40.740161,-73.976574,25-44,WHITE HISPANIC,M,MISDEMEANOR
1085620,01/22 21:35:00,40.756266,-73.990501,45-64,ASIAN / PACIFIC ISLANDER,F,FELONY
1085621,09/12 00:10:00,40.720848,-74.000662,25-44,WHITE HISPANIC,F,MISDEMEANOR
1085622,12/11 07:30:00,40.811812,-73.938329,<18,BLACK,M,MISDEMEANOR

In [77]:
df['Victim_AGE'] = y_age
df['Victim_RACE'] = y_race
df['Victim_Sex'] = y_sex
df['Category'] = y_cat

In [78]:
df

,Timestamp,Latitude,Longitude,Victim_AGE,Victim_RACE,Victim_Sex,Category
0,12/25 23:00:00,40.772875,-73.989542,0,0,0,0
1,12/15 04:15:00,40.807781,-73.945485,1,1,1,1
2,12/05 22:00:00,40.828851,-73.943834,1,1,1,0
3,12/10 15:30:00,40.816509,-73.946547,2,0,1,0
4,12/08 23:20:00,40.789633,-73.940068,1,1,0,1
...,...,...,...,...,...,...,...
1085618,07/17 17:55:00,40.718900,-74.002317,1,0,1,2
1085619,09/29 03:00:00,40.740161,-73.976574,1,2,0,0
1085620,01/22 21:35:00,40.756266,-73.990501,0,4,1,2
1085621,09/12 00:10:00,40.720848,-74.000662,1,2,1,0
1085622,12/11 07:30:00,40.811812,-73.938329,2,0,0,0

In [79]:
df.to_csv('./Datasets/dataset_encode.csv',index=False, header=['Timestamp','Latitude','Longitude','Victim_AGE','Victim_RACE','Victim_Sex', 'Category'])